apiVersion: v1
kind: ConfigMap
metadata:
  name: cache-config-client
  namespace: wjms-ns
data:
  cache_config_client.xml: |
    <?xml version="1.0"?>
  
    <cache-config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.oracle.com/coherence/coherence-cache-config"
    xsi:schemaLocation="http://xmlns.oracle.com/coherence/coherence-cache-config
    coherence-cache-config.xsd">
        <scope-name>telefonica.coherence</scope-name>
        <defaults>
        <serializer>java</serializer>
        </defaults>
        <caching-scheme-mapping>
            <!-- CACHE UDDI (ENDPOINTS OSR) -->
            <cache-mapping>
                <cache-name>CACHE_UDDI</cache-name>
                <scheme-name>COHI-near-proxy-infra</scheme-name>
            </cache-mapping>
            <!-- CACHE SEGURIDAD -->
            <cache-mapping>
                <cache-name>CACHE_SEGU</cache-name>
                <scheme-name>COHI-near-proxy-infra</scheme-name>
            </cache-mapping>
            <!-- CACHE SECURITY CONTEXT -->
            <cache-mapping>
                <cache-name>CACHE_SCRTYCTX</cache-name>
                <scheme-name>COHI-near-proxy-infra</scheme-name>
            </cache-mapping>
            <!-- CACHES DE OBJETOS SEGUN TIEMPO DE VIDA -->
            <cache-mapping>
                <cache-name>CACHE_PRES_*</cache-name>
                <scheme-name>COHI-proxy-servicio</scheme-name>
            </cache-mapping>
            <cache-mapping>
                <cache-name>CACHE_NUC_*</cache-name>
                <scheme-name>COHI-proxy-servicio</scheme-name>
            </cache-mapping>
            <!-- CACHE SERVICIO -->
            <cache-mapping>
                <cache-name>CACHE_APP_CATA_*</cache-name>
                <scheme-name>COHI-near-proxy-servicio-cata</scheme-name>
                <init-params>
                    <init-param>
                        <param-name>num-elements</param-name>
                        <param-value>100k</param-value>
                    </init-param>
                </init-params>
            </cache-mapping>
            <cache-mapping>
                <cache-name>CACHE_APP_*</cache-name>
                <scheme-name>COHI-near-proxy-servicio</scheme-name>
                <init-params>
                    <init-param>
                        <param-name>num-elements</param-name>
                        <param-value>100k</param-value>
                    </init-param>
                </init-params>
            </cache-mapping>
            <!-- CACHE OLA0 -->
            <cache-mapping>
                <cache-name>T3_FMK_*</cache-name>
                <scheme-name>COHI-proxy-servicio</scheme-name>
            </cache-mapping>
            <!-- CACHE FLOWVARS -->
            <cache-mapping>
                <cache-name>DATA_*</cache-name>
                <scheme-name>COHI-proxy-var</scheme-name>
            </cache-mapping>
            <!-- CACHE CONTROL (Semáforos) -->
            <cache-mapping>
                <cache-name>CACHE_CTRL_*</cache-name>
                <scheme-name>COHI-proxy-var</scheme-name>
            </cache-mapping>
            <!-- CACHE DRO NEAR -->
            <cache-mapping>
                <cache-name>CACHE_DRO_*</cache-name>
                <scheme-name>COHI-near-proxy-drot</scheme-name>
            </cache-mapping>
        </caching-scheme-mapping>
        <caching-schemes>
            <!-- Near Caches -->
            <near-scheme>
                <scheme-name>COHI-near-proxy-drot</scheme-name>
                <front-scheme>
                    <local-scheme>
                        <scheme-ref>local-drot</scheme-ref>
                    </local-scheme>
                </front-scheme>
                <back-scheme>
                    <remote-cache-scheme>
                        <scheme-ref>COHI-proxy-drot</scheme-ref>
                    </remote-cache-scheme>
                </back-scheme>
                <invalidation-strategy>present</invalidation-strategy>
            </near-scheme>
            <near-scheme>
                <scheme-name>COHI-near-proxy-servicio-cata</scheme-name>
                <front-scheme>
                    <local-scheme>
                        <scheme-ref>local-servicio</scheme-ref>
                        <init-params>
                            <init-param>
                                <param-name>num-elements</param-name>
                                <param-value>{num-elements}</param-value>
                            </init-param>
                        </init-params>
                    </local-scheme>
                </front-scheme>
                <back-scheme>
                    <remote-cache-scheme>
                        <scheme-ref>COHI-proxy-servicio-cata</scheme-ref>
                    </remote-cache-scheme>
                </back-scheme>
                <invalidation-strategy>all</invalidation-strategy>
            </near-scheme>
            <near-scheme>
                <scheme-name>COHI-near-proxy-servicio</scheme-name>
                <front-scheme>
                    <local-scheme>
                        <scheme-ref>local-servicio</scheme-ref>
                        <init-params>
                            <init-param>
                                <param-name>num-elements</param-name>
                                <param-value>{num-elements}</param-value>
                            </init-param>
                        </init-params>
                    </local-scheme>
                </front-scheme>
                <back-scheme>
                    <remote-cache-scheme>
                        <scheme-ref>COHI-proxy-servicio</scheme-ref>
                    </remote-cache-scheme>
                </back-scheme>
                <invalidation-strategy>all</invalidation-strategy>
            </near-scheme>
            <near-scheme>
                <scheme-name>COHI-near-proxy-infra</scheme-name>
                <front-scheme>
                    <local-scheme>
                        <scheme-ref>local-infra</scheme-ref>
                    </local-scheme>
                </front-scheme>
                <back-scheme>
                    <remote-cache-scheme>
                        <scheme-ref>COHI-proxy-infra</scheme-ref>
                    </remote-cache-scheme>
                </back-scheme>
                <invalidation-strategy>present</invalidation-strategy>
            </near-scheme>
            <local-scheme>
                <scheme-name>local-servicio</scheme-name>
                <eviction-policy>HYBRID</eviction-policy>
                <high-units>{num-elements}</high-units>
            </local-scheme>
            <local-scheme>
                <scheme-name>local-drot</scheme-name>
                <eviction-policy>HYBRID</eviction-policy>
                <high-units>64M</high-units>
            </local-scheme>
            <local-scheme>
                <scheme-name>local-infra</scheme-name>
                <eviction-policy>HYBRID</eviction-policy>
                <high-units>8M</high-units>
            </local-scheme>
            <!-- Client Side - Configuración para conectar a los proxy servers de COHI -->
            <remote-cache-scheme>
                <scheme-name>COHI-proxy-infra</scheme-name>
                <service-name>COHI-ExtendTcpProxyService-INFRA</service-name>
                <initiator-config>
                    <tcp-initiator>
                        <remote-addresses>
                            <socket-address>
                                <address>cohi-proxy-extend.cohi-ns.svc.cluster.local</address>
                                <port>36102</port>
                            </socket-address>
                        </remote-addresses>
                    </tcp-initiator>
                    <outgoing-message-handler>
                        <heartbeat-interval>60s</heartbeat-interval>
                        <heartbeat-timeout>2s</heartbeat-timeout>
                        <request-timeout>15s</request-timeout>
                    </outgoing-message-handler>
                    <connect-timeout>2s</connect-timeout>
                </initiator-config>
            </remote-cache-scheme>
            <remote-cache-scheme>
                <scheme-name>COHI-proxy-servicio</scheme-name>
                <service-name>COHI-ExtendTcpProxyService-SERVICIO</service-name>
                <initiator-config>
                    <tcp-initiator>
                        <remote-addresses>
                            <socket-address>
                                <address>cohi-proxy-extend.cohi-ns.svc.cluster.local</address>
                                <port>36112</port>
                            </socket-address>
                        </remote-addresses>
                    </tcp-initiator>
                    <outgoing-message-handler>
                        <heartbeat-interval>60s</heartbeat-interval>
                        <heartbeat-timeout>2s</heartbeat-timeout>
                        <request-timeout>15s</request-timeout>
                    </outgoing-message-handler>
                    <connect-timeout>2s</connect-timeout>
                </initiator-config>
            </remote-cache-scheme>
            <remote-cache-scheme>
                <scheme-name>COHI-proxy-servicio-cata</scheme-name>
                <service-name>COHI-ExtendTcpProxyService-SERVICIO-CATA</service-name>
                <initiator-config>
                    <tcp-initiator>
                        <remote-addresses>
                            <socket-address>
                                <address>cohi-proxy-extend.cohi-ns.svc.cluster.local</address>
                                <port>36142</port>
                            </socket-address>
                        </remote-addresses>
                    </tcp-initiator>
                    <outgoing-message-handler>
                        <heartbeat-interval>60s</heartbeat-interval>
                        <heartbeat-timeout>2s</heartbeat-timeout>
                        <request-timeout>15s</request-timeout>
                    </outgoing-message-handler>
                    <connect-timeout>2s</connect-timeout>
                </initiator-config>
            </remote-cache-scheme>
            <remote-cache-scheme>
                <scheme-name>COHI-proxy-var</scheme-name>
                <service-name>COHI-ExtendTcpProxyService-VAR</service-name>
                <initiator-config>
                    <tcp-initiator>
                        <remote-addresses>
                            <socket-address>
                                <address>cohi-proxy-extend.cohi-ns.svc.cluster.local</address>
                                <port>36122</port>
                            </socket-address>
                        </remote-addresses>
                    </tcp-initiator>
                    <outgoing-message-handler>
                        <heartbeat-interval>60s</heartbeat-interval>
                        <heartbeat-timeout>2s</heartbeat-timeout>
                        <request-timeout>15s</request-timeout>
                    </outgoing-message-handler>
                    <connect-timeout>2s</connect-timeout>
                </initiator-config>
            </remote-cache-scheme>
            <remote-cache-scheme>
                <scheme-name>COHI-proxy-drot</scheme-name>
                <service-name>COHI-ExtendTcpProxyService-DROT</service-name>
                <initiator-config>
                    <tcp-initiator>
                        <remote-addresses>
                            <socket-address>
                                <address>cohi-proxy-extend.cohi-ns.svc.cluster.local</address>
                                <port>36132</port>
                            </socket-address>
                        </remote-addresses>
                    </tcp-initiator>
                    <outgoing-message-handler>
                        <heartbeat-interval>60s</heartbeat-interval>
                        <heartbeat-timeout>2s</heartbeat-timeout>
                        <request-timeout>15s</request-timeout>
                    </outgoing-message-handler>
                    <connect-timeout>2s</connect-timeout>
                </initiator-config>
            </remote-cache-scheme>
        </caching-schemes>
    </cache-config>

  tangosol-coherence-override.xml: |
    <?xml version="1.0"?>

    <coherence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://xmlns.oracle.com/coherence/coherence-operational-config"
        xsi:schemaLocation="http://xmlns.oracle.com/coherence/coherence-operational-config coherence-operational-config.xsd">
        <cluster-config>
            <member-identity>
                <cluster-name>telefonica.coherence</cluster-name>
            </member-identity>
        </cluster-config>
    </coherence>
